# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	email = algotastic@gmail.com
	name = algotastic
[core]
[bash-it]
	hide-status = 1
[push]
	default = simple
